.study{
    border: none;
    width: 50%;
    height: 570px;
    position: relative;
    top: 80px;
}
.divs{
    display: flex;
}
.study h1{
    font-size: 64px;
    font-weight: 800;
    color: #000e42;
    padding: 100px;
    line-height: 70px;
    font-family: helvetica, sans-serif;
}
.study p{
    font-size: 16px;
    font-weight: 400;
    color:#474747;
    padding: 60px;
    font-family: poppins;
    transform: translate(0px, -150px);
    margin-left: 40px;
}
.study button{
    background-color: #00208a;
    font-size: 14px;
    font-weight: 600;
    color:#fff;
    width: 140px;
    height: 60px;
    border: none;
    border-radius: 20px;
    font-family: poppins;
    transform: translate(0px, -190px);
    margin-left: 105px;
}
.study img{
    width: 450px;
    height: 450px;
    transform: translate(80px,35px );
}