.google{
    height: 250px;
    width: 300px;
}
.ibd{
    height: 50px;
    width: 50px;
    border-radius: 100%;
    transform: translate(125px,30px)
}
.reviews{
    display: flex;
    gap: 50px;
    justify-content: center;
    /* transform: translate(170px,500px) */
}
.monials{
    padding-left: 140px;
    /* transform: translate(150px,450px) */
}
.monials h2{
    font-family: poppins;
    color: #333;
    font-weight: 700;
    font-size: 48px;
}
.monials p{
    font-family: poppins;
    color: #474747;
    font-weight: 500;
    font-size: 14px;
}
.stars img{
    height:22px;
    width: 22px;
    transform: translate(70px,55px)
}
.ict{
    font-family: Helvetica, sans-serif;
    color: #333;
    font-weight: 700;
    font-size: 12.5px;
    position: relative;
    bottom: -75px;
    right: -10px;
}
.rating{
    font-family: Helvetica, sans-serif;
    color:#FB8E28;
    font-weight: 600;
    font-size: 23px;
    position: relative;
    top: 57.8px;
    left: 65px;
}
.base{
    font-family: Helvetica, sans-serif;
    color: #555;
    font-weight: 400;
    font-size: 14px;
    position: relative;
    top: 77px;
    right: 77px;
}
.power{
    width: 200px;
    height: 50px;
    transform: translate(-20px, -10px);
}
.displaypic{
    width: 60px;
    height: 60px;
    /* margin: auto; */
    /* transform: translate(20px,20px); */
}
.googlesim a{
    text-decoration: none;
    font-family: Helvetica, sans-serif;
    color: #154FC1;
    font-weight: 700;
    font-size: 14px;
    position: relative;
    bottom: 30px;
    left: 85px;
}
.power img{
    width: 120px;
    position: relative;
    top: 25px;
    left: 20px;
}
.year{
    color:#555555;
    font-weight: 400;
    font-size: 13px;
    position: relative;
    bottom: 25px;
    left: 85px;
    font-family: Helvetica, sans-serif;
}
.pic{
    margin-left: 20px;
}
.pic img{
    height:22px;
    width: 22px;
}
.onG{
    height:32px;
    width: 130px;
    padding-left: 15px;
    padding-top: 2.5px;
    background: #0a6cff;
    border-radius: 50px;
    transform: translate(62px,60px);
}
.onG a{
    color:#fff;
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
}
.onG img{
    height:18px;
    width: 18px;
    background: white;
    border-radius: 100%;
    transform: translateX(5px);
}
.googlesim p{
    color:#222;
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
    padding: 8px 18px;
    line-height: 20px;
}
.googlesim{
    height: 250px;
    width: 300px;
    background: #fafafa;
}
.scroll{
    height: 130px;
    width: 290px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.scroll::-webkit-scrollbar{
    width: 5px;
}
.scroll::-webkit-scrollbar-track{
    background: #d4d4d4;
    height: 50px;
}
.scroll::-webkit-scrollbar-thumb{
    border-radius: 20px;
    background: #8c8c8c;
    height: 5px;
}